<header id="main-header">
  <div id="header-logo">
    <a href="/">我的部落格</a>
  </div>
  <nav>
    <ul id="nav-items">
      <li><a href="/">我的文章</a></li>
      <li><a href="/signup">帳號申請</a></li>
      <li><a href="/">登入</a></li>
      <!-- <li><a href="/">我的作品</a></li>
      <li><a href="/">文章管理</a></li> -->
    </ul>
  </nav>
</header>